body 
{
    margin: 0;
    font: 0.92em/1.4 Arial, sans-serif;
    min-width: 780px;
    background: #fff;
    color: #000;
}

.left
{
    float:left;
}

.clear
{
    clear: both;
}

aside 
{
    background: #4B4A45 none repeat scroll 0% 0%;
    width: 210px;
    float: left;
}

aside .block 
{
    margin: 10px 0px 15px;
}

aside .block_content 
{
    padding: 0px 5px;
    outline: medium none;
}

aside .filter {
    background: #FFF none repeat scroll 0% 0%;
    width: 198px;
    border: 1px solid #666;
}

.ac
{
    background: #FFF none repeat scroll 0% 0%;
    width: 173px;
    font-size: 14px;
    outline: medium none;
    border: medium none;
    padding: 2px;
}

.find 
{
    vertical-align: -3px;
    padding-right: 2px;
    opacity: 0.5;
}

aside .block_title 
{
    background: #DAD7C5 none repeat scroll 0% 0%;
    color: rgba(75, 74, 69, 0.8);
    text-shadow: 1px 2px 3px #DAD7C5, 0px 0px 0px #000, 1px 2px 3px #DAD7C5;
    font-size: 15px;
    font-weight: bold;
    margin: 0px -6px 10px 0px;
    padding: 5px 6px 4px 5px;
    position: relative;
}

aside .block_title::after 
{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    right: 0px;
    bottom: -6px;
    border-width: medium;
    border-style: solid;
    border-color: #959A8F transparent transparent #959A8F;
    border-image: none;
}

#menu-menu-html .block_content 
{
    height: 348px;
}

aside .menu
{
    padding: 0px 0px 0.25em 20px;
    margin: 0px;
    font-size: 14px;
}

li.leaf
{
    list-style: outside none none;
    background: transparent url("../images/bullet.png") no-repeat scroll 0px 6px;
    margin-left: -10px;
    padding: 0px 0px 0px 15px;
}

li.collapsed 
{
    list-style: outside none none;
    background: transparent url("../images/bullet2.png") no-repeat scroll 0px 6px;
    padding: 0px 5px 0px 15px;
    margin-left: -10px;
}

aside a 
{
    color: #EEDFAC;
    text-decoration: none;
    display: block;
    line-height: 1.2;
    margin: 3px 0px;
}