body
{
    background: url(../images/background.png) repeat;
    text-align: left;
    font-weight: normal;
    font-family: Arial;
}

.general
{
    width: 933px;
    padding: 0 35px 12px 35px;
    margin: 51px 60px 0 60px;
    background-color: #ffffff;
    border-top: 8px solid #f2ac04;
    box-shadow: 0 0 3px #656565;
    margin: auto;
}

.header
{    
    margin: 41px 0 35px 0;    
}

.left
{
    float: left;
}

.right
{
    float: right;
}

.title
{
    padding: 0 0 0 28px;
    border-left: 1px solid #cac8c5;
    height: 52px;
}

.big_title
{
    text-transform: uppercase;
    color: #f2ac04;
    font-size:20px;
    margin: 5px 0 -10px 0;
}

.small_title
{
    color: #929292;
    font-size: 14px;
}

.clear
{
    clear: both;
}

.top_menu
{
    width: 928px;
    height: 32px;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    padding-top: 10px;
    margin: -4px 0 0 5px;
}

.top_menu a
{
    font-size: 18px;
    float: left; 
    text-decoration: none;
    color: #6B6B6B;
}

.margin70
{
    margin-left: 70px;
}

.margin80
{
    margin-left: 80px;
}

.margin84
{
    margin-left: 84px;
}

.margin81
{
    margin-left: 81px;
}

h1
{
    text-align: left;
    font: normal 12px Tahoma;
    color: #555656;    
    margin: 35px 0 0 7px;
}

.content
{
    height: 351px;
    width: 926px;
    margin-left: 7px;
    border-bottom: 1px solid #CCCCCC; 
}

.foto-left
{
    border: 1px solid #B0B0B0;
    width: 450px;
    height: 301px;
    margin: 8px 0 0 -1px;
}

.inside-left
{
    width: 446px;
    height: 297px;
    margin: 1px 1px 1px 1px;
    border: 1px solid #D6D6D6;
}

.foto-left p
{
    float: left;
    font-size: 18px;
    margin-top: 8px;
    width: 280px; 
    height: 25px;
    font-family: Tahoma;
}

a.arrow-left, a.arrow-right
{
    display: block;
    border: none;
    height: 23px;
    width: 23px;
    float: left;
    background: url(../images/arrow_left.png) no-repeat;
    margin: 10px 38px 0 23px;
}

a.arrow-right
{
    float: right;
    background: url(../images/arrow_right.png) no-repeat;
    margin: 10px 21px 0 0;
}

.foto-right
{
    width: 451px;
    height: 353px;
}

.inside-right
{
    margin: 8px 0 -4px 1px;
    border-bottom: 1px solid black;
    height: 206px;
}

.foto-right p
{
    font: normal 12px/23px Tahoma;
}

.next
{
    font: normal 12px/12px Tahoma;
    color: white;
    display: block;
    background: url(../images/next_arrow.png) no-repeat top right;
    background-color: #2b2b29;	
    padding: 1px 23px 2px 7px;
    float: right;
    text-decoration: none;
    margin: -14px 2px 0px 0;
}

.news
{
    padding: 13px 0 0 7px;
    width: 266px;
    height: 288px;
}

h3
{
    font-size: 18px;
    font-weight: normal;
}

.news_list
{
    list-style-type: none;
    margin: -3px 0 0 -40px;
}

.news_list li
{
    display: block;
    height: 59px;
    border-bottom: 1px dashed #636363;
    padding-top: 18px;
}

.day
{
    color: #f2ac04;
    font: normal 18px/18px Verdana;
    clear: both;
    margin: -1px 0 4px 4px;
    padding: 0;
}

.month
{
    font: normal 9px/9px Arial;	
    color: #777777;
    margin: 0 0 0 5px;
    padding: 0;
}

.news_text
{
    width: 223px;
    margin: 2px 0 0 11px;
}

.news_text p
{
    color: #939393;
    line-height: 14px;
    font-size: 12px;
    margin-left: 1px;
}

.news_text h6
{
    font: normal 14px/13px Arial;
    color: #565656;
    margin: 0 0 -6px 0;
}

.border
{
    border-right: 1px solid #CCCCCC;
    margin-top: 1px;
    width: 31px;
}

.news3
{
    margin-top: -1px;
}

.sidebar_center
{
    width: 306px;
    height: 283px;
    border-left: 1px solid #CCCCCC;
    margin: 28px 0 0 8px;
}

.whoweare
{
    margin: 2px 0 29px 36px;
}

.big_p
{
    font: normal 16px/23px Tahoma;
    color: #494949;
    margin: -2px 0 30px 37px;
}

.contacts
{
    font-family: Tahoma;
    height: 283px;
    margin: 28px 0 0 33px;
    border-left: 1px solid #CCCCCC;
}

.zagolovok
{
    padding-left: 20px;
    font-family: Arial;
    font-size: 23px;
    color: #565656;
    margin-top: -2px;
    margin-bottom: 15px;
    padding-left: 51px;
    font-weight: normal;
}

.common
{
    font: normal 14px Tahoma;
    color: #757575;
    width: 186px;
    margin-left: 42px;
    padding-left: 54px;
    border-bottom: 1px dashed black;
    height: 30px;
}

.tel
{
    padding-top: 10px;
    background: url(../images/tel.png) no-repeat 2px 0;
    font-weight: bold;
}

.fax
{
    background: url(../images/fax.png) no-repeat 2px 3px;
    padding-top: 13px;
    font-weight: bold;
}

.mail
{
    background: url(../images/convert.png) no-repeat 2px 3px;
    padding-top: 13px;
}

.address1
{
    background: url(../images/house.png) no-repeat 2px 3px;
    padding-top: 11px;
    font-size: 16px;
    border: none;
    height: 28px;
}

.address2
{
    line-height: 22px;
    border-bottom: none;
    height: 74px;
}

.clients
{
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    height: 105px;
    margin: 65px 0 22px 7px;
    position: relative;	
}

h4
{
    display: block;
    font: normal 14px/14px Tahoma;
    color: #343434;
    position: absolute;
    top: -27px;
    left: 36px;
    width: 93px;
    padding-left: 7px;
    background-color: #ffffff;
}

.client_logo_first
{
    margin: 6px 0 0 17px;
}

.client_logo
{
    margin: 6px 0 0 0;
}

.logo_bot
{
    width: 119px;
    height: 33px;
    margin: 24px auto 20px auto;
}

.bot_menu ul
{
    width: 475px;
    margin: auto;
    list-style: none;
}

.bot_menu li
{
    display: block;
    float: left;
    border-right: 1px solid #8d8d8d;
    padding-right: 9px;
    padding-left: 6px;
    font: normal 10px/10px Arial;
}

.bot_menu a
{
    color: #535353;
    text-decoration: none;
}

.bot_menu li.about_us
{
    padding-left: 8px;
    padding-right: 6px;
}

.bot_menu li.bot_menu_last
{
    border: none;
}

.copyright
{
    margin: -10px auto -10px auto;
    width: 172px;
}

.copy
{
    color: #545454;
    font-size: 14px;
}